---
// components
import NavItem from "./NavItem.astro";
import Icon from "./Icon.astro";
import Social from "../components/Social.astro";

const navItems = [
  { href: "#home", label: "Home" },
  { href: "#portfolio", label: "Portfolio" },
  { href: "#about", label: "About" },
  { href: "#contact", label: "Contact" },
];

const socialMedia = [
  {
    url: "https://www.linkedin.com/in/stephanierpatton/",
    icon: "linkedin",
  },
  {
    url: "https://github.com/StephanieRPatton",
    icon: "github",
  },

  {
    url: "https://www.instagram.com/stephanierpatton/",
    icon: "instagram",
  },
  {
    url: "https://x.com/stephrpatton",
    icon: "twitter",
  },
];
---

<header id="main-menu" class="relative">
  <nav
    class="fixed top-0 left-0 right-0 z-50 w-full p-4 bg-black text-white shadow transition-transform duration-300"
  >
    <div class="mobile__nav--icons">
      <div class="hamburger flex flex-col items-end lg:hidden">
        <Icon name="menu" />
      </div>
      <div class="close flex flex-col items-end hidden">
        <Icon name="close" />
      </div>
    </div>
    <div class="desktop__nav hidden lg:flex justify-between items-center">
      <div class="social my-2 flex gap-3 content-center">
        {
          socialMedia.map((social) => (
            <Social icon={social.icon} url={social.url} />
          ))
        }
      </div>
      <div class="px-4 flex flex-row justify-end gap-4">
        {
          navItems.map((item, index) => (
            <NavItem
              href={item.href}
              label={item.label}
              class={index === navItems.length - 1 ? "open-modal" : ""}
            />
          ))
        }
      </div>
    </div>
    <div
      class="mobile__nav container hidden flex flex-col justify-center items-center"
    >
      <div class="flex flex-col justify-center items-center pb-4">
        {
          navItems.map((item, index) => (
            <NavItem
              href={item.href}
              label={item.label}
              class={index === navItems.length - 1 ? "open-modal" : ""}
            />
          ))
        }
      </div>
      <div class="social flex gap-4 py-4 border-t-1 items-center">
        {
          socialMedia.map((social) => (
            <Social icon={social.icon} url={social.url} />
          ))
        }
      </div>
    </div>
  </nav>
</header>

<script>
  import "../scripts/nav.js";
</script>
