---
import TabMenu from "./TabMenu.astro";
import TabItem from "./TabItem.astro";
import Image from "./Image.astro";
import PortfolioItem from "./PortfolioItem.astro";
import { getCollection } from "astro:content";
const projects = await getCollection("projects");

console.log(projects);
const tabItems = [
  { type: "development", label: "Web Development" },
  { type: "marketing", label: "Marketing" },
];
---

<section id="portfolio" class="mt-6 min-h-screen">
  <div class="wrapper">
    <h2 class="text-center">Portfolio</h2>
    <div class="container my-20">
      <div class="portfolio__tabs tabs__container gap-5 flex justify-center">
        {
          tabItems.map((item, index) => (
            <TabMenu type={item.type} label={item.label} active={index === 0} />
          ))
        }
      </div>
      <div
        class="projects tabitem__container grid justify-center gap-y-10 gap-x-6 grid-cols-[repeat(auto-fit,minmax(300px,max-content))] mt-10"
      >
        {
          projects.map((project) => (
            <PortfolioItem
              title={project.data.title}
              description={project.data.description}
              image={project.data.image}
              type={project.data.type}
              icons={project.data.icons}
              altText={project.data.altText}
              liveLink={project.data.liveLink}
              githubLink={project.data.githubLink}
            />
          ))
        }
        <TabItem type="fallback" class={"fallback"}>
          <h3 class="text-center">Coming Soon</h3>
        </TabItem>
      </div>
    </div>
  </div>

  <script>
    import "../scripts/tabs.js";
  </script>
</section>
