---
// components
import TabContent from "../components/TabContent.astro";
import Image from "../components/Image.astro";
import Icon from "../components/Icon.astro";
import Button from "../components/Button.astro";

const {
  title,
  description,
  image,
  type,
  icons = [],
  altText,
  liveLink,
  githubLink,
  class: customClass,
} = Astro.props;
---

<TabContent type={type} class={`flex-col items-center`}>
  <div class="image-wrapper">
    <Image
      source={image}
      altText={altText}
      class="h-full w-full object-cover"
    />
  </div>

  <div
    class="tab__content text-center flex flex-col flex-grow-1 max-w-image500"
  >
    <h3 class="text-center my-5">{title}</h3>
    <p class="text-center">
      {description}
    </p>
    {
      icons && icons.length > 0 && (
        <div class="flex justify-center gap-2 my-5">
          {icons.map((icon) => (
            <Icon name={icon} class="h-6 w-6 object-cover" />
          ))}
        </div>
      )
    }
    <div
      class="buttons mt-auto flex gap-6 justify-center items-center flex-col sm:flex-row"
    >
      <Button
        class=""
        href={liveLink}
        target="_blank"
        type="secondary"
        text="View Project"
      />
      {
        githubLink && (
          <Button
            class=""
            href={githubLink}
            target="_blank"
            type="secondary"
            text="View Github Code"
          />
        )
      }
    </div>
  </div>
</TabContent>
