---
//components
import TabMenu from "./TabMenu.astro";
import TabContent from "./TabContent.astro";
//content
import PortfolioItem from "./PortfolioItem.astro";
import { getCollection } from "astro:content";
const projects = await getCollection("projects");

//data
---

<section id="portfolio" class="mt-6 min-h-auto">
  <div class="wrapper">
    <h2 class="text-center section-title">Portfolio</h2>
    <div class="container my-20">
      <div
        class="portfolio__tabs tabs__container gap-5 flex justify-center items-center flex-col lg:flex-row lg:items-start"
      >
        <!-- <TabMenu /> -->
      </div>
      <div
        class="projects tabitem__container grid justify-center gap-y-10 gap-x-6 grid-cols-[repeat(auto-fit,minmax(300px,max-content))] mt-10"
      >
        {
          projects.map((project) => (
            <PortfolioItem
              title={project.data.title}
              description={project.data.description}
              image={project.data.image}
              type={project.data.type}
              icons={project.data.icons}
              marketing={project.data.marketing}
              altText={project.data.altText}
              liveLink={project.data.liveLink}
              githubLink={project.data.githubLink}
            />
          ))
        }
      </div>
    </div>
  </div>

  <script>
    import "../scripts/tabs.js";
  </script>
</section>
